{% load spirit_tags i18n %}
{% load static from staticfiles %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1909926-6', 'auto');
  ga('set', 'dimension1', {{request.user.id|default:0}});
  ga('set', '&uid', {{request.user.id|default:0}});
  ga('send', 'pageview');

</script>
<link rel="stylesheet" href="{% static "empire/style.css" %}">
<script src="{% static "empire/insert_code_button.js" %}"></script>

    <header class="header js-tabs-container">
		<a class="header-logo" href="{% url "spirit:index" %}">{{ config.site_name }}</a>

        {% if user.is_authenticated %}
            {% has_topic_notifications user as has_notifications %}

            <ul class="header-tabs">
                <li><a class="header-tab-link js-tab" href="{% url "spirit:search" %}" data-related=".js-search-content"><i class="fa fa-search"></i></a></li><!--
             --><li><a class="header-tab-link js-tab-notification{% if has_notifications %} is-highlighted{% endif %}" href="{% url "spirit:topic-notification-list" %}" data-related=".js-notifications-content"><i class="fa fa-bell"></i></a></li><!--
             --><li><a class="header-tab-link js-tab" href="{% url "spirit:user-menu" %}" data-related=".js-user-content">{{ user.username }} <i class="fa fa-chevron-down"></i></a></li>
            </ul>

            <div class="header-tabs-content">

                <div class="header-tab-content js-tab-content js-user-content">
                    <nav class="header-nav">
                        <ul class="menu">
                            <li><a class="menu-link" href="{% url "spirit:profile-detail" pk=user.pk slug=user.slug %}">{% trans "Profile" %}</a></li>
                            <li><a class="menu-link" href="{% url "spirit:topic-active" %}">{% trans "Topics" %}</a></li>
                            <li><a class="menu-link" href="{% url "spirit:topic-unread-list" %}">{% trans "Unread topics" %}</a></li>
                            <li><a class="menu-link" href="{% url "spirit:private-list" %}">{% trans "Private topics" %}</a></li>

                            {% if user.is_administrator %}
                                <li><a class="menu-link" href="{% url "spirit:admin" %}">{% trans "Admin" %}</a></li>
                            {% endif %}

                            <li><a class="menu-link js-post" href="{% url "spirit:user-logout" %}?next={% firstof request.get_full_path|urlencode '/' %}">{% trans "Log out" %}</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="header-tab-content js-tab-content js-notifications-content"></div>

                <div class="header-tab-content js-tab-content js-search-content">
                    {% render_search_form %}
                </div>

            </div>
        {% else %}
            <a class="header-link" href="{% url "spirit:user-login" %}?next={% firstof request.get_full_path|urlencode '/' %}">{% trans "Log in" %}</a>
        {% endif %}
	</header>